TestingWCF/TestingWCF/Service References/TravelService/TravelService_11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.medmar.eu/TravelService_.svc" elementFormDefault="qualified" targetNamespace="http://www.medmar.eu/TravelService_.svc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://medmar.eu/TravelService_.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TravelService" />
  <xs:element name="synchronize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TravelService" minOccurs="0" name="webServiceConsumerRequest" nillable="true" type="q1:WebServiceConsumerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="synchronizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TravelService" minOccurs="0" name="synchronizeResult" nillable="true" type="q2:WebServiceProviderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>