PullWS/Service References/serviceTest/index.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://myservices.com/besoft/medmarTest" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://myservices.com/besoft/medmarTest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://myservices.com/besoft/medmarTest">
      <s:element name="Gandalf">
        <s:complexType />
      </s:element>
      <s:element name="GandalfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GandalfResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GandalfSoapIn">
    <wsdl:part name="parameters" element="tns:Gandalf" />
  </wsdl:message>
  <wsdl:message name="GandalfSoapOut">
    <wsdl:part name="parameters" element="tns:GandalfResponse" />
  </wsdl:message>
  <wsdl:portType name="indexSoap">
    <wsdl:operation name="Gandalf">
      <wsdl:input message="tns:GandalfSoapIn" />
      <wsdl:output message="tns:GandalfSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="indexSoap" type="tns:indexSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Gandalf">
      <soap:operation soapAction="http://myservices.com/besoft/medmarTest/Gandalf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="indexSoap12" type="tns:indexSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Gandalf">
      <soap12:operation soapAction="http://myservices.com/besoft/medmarTest/Gandalf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="index">
    <wsdl:port name="indexSoap" binding="tns:indexSoap">
      <soap:address location="http://5.189.181.4:83/index.asmx" />
    </wsdl:port>
    <wsdl:port name="indexSoap12" binding="tns:indexSoap12">
      <soap12:address location="http://5.189.181.4:83/index.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>